---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p class="text-white">
        Aspiring AI Engineer with a strong foundation in Artificial Intelligence and Machine Learning. Passionate about leveraging AI to solve real-world problems and build innovative, data-driven solutions. Focused on combining technical expertise with continuous learning to create impactful technologies that drive smarter outcomes.
      </p>
    </div>
  </div>
</Card>
