---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        Let's start working together!
      </h1>
    </header>

    <address class="flex flex-col mt-4 not-italic w-fit">
      <h2 class="text-gray-500 font-semibold">Contact Details</h2>
      <p class="text-white">yashwanthkosuri29@gmail.com</p>
      <p class="text-white">India</p>
    </address>

    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500 font-semibold">Socials</h2>
      <ul class="space-y-1 text-white">
        <li>
          <a href={LINKS.github} target="_blank" rel="noopener noreferrer">Github</a>
        </li>
        <li>
          <a href={LINKS.linkedin} target="_blank" rel="noopener noreferrer">Linkedin</a>
        </li>
        <li>
          <a href={LINKS.medium} target="_blank" rel="noopener noreferrer">Medium</a>
        </li>
        <li>
          <a href={LINKS.x} target="_blank" rel="noopener noreferrer">X</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
