---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h1 class="text-white text-xl font-bold">
        Now
      </h1>
      <a href="https://nownownow.com/about" target="_blank">
        <h2 class="text-gray-500 font-semibold">what's that?</h2>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-white">Tinkering with stuff</p>
</Card>
